<ul class="nav nav-menu">
  <li class="active"><a href="#"><span>Home</span></a></li>
  <li><a href="#"><span>Welcome</span></a></li>
  <li><a href="#"><span>Activity</span></a></li>
  <li><a href="#"><span>Messages</span></a></li>
  <li><a href="#"><span>Dashboard</span></a></li>
  <li><a href="#"><span>Tasks</span></a></li>
  <li><a href="#"><span>Events</span></a></li>
</ul>