<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

    <!-- Docs master nav -->
    {{> main }}

    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ lead }}</p>
        {{> ads }}
      </div>
    </div>

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-{{#is fullwidth true}}12{{^}}9{{/is}}" role="main">
          {% body %}
        </div>
        {% unless page.fullwidth == true %}
        <div class="col-md-3" role="complementary">
          <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
            <ul class="nav bs-docs-sidenav">
              {{#is slug "getting-started"}}
                {{> getting-started }}
              {{/is}} {{#is slug "css"}}
                {{> css }}
              {{/is}} {{#is slug "components"}}
                {{> components }}
              {{/is}} {{#is slug "js"}}
                {{> javascript }}
              {{/is}} {{#is slug "customize"}}
                {{> customize }}
              {{/is}} {{#is slug "about"}}
                {{> about }}
              {{/is}} {{#is slug "migration"}}
                {{> migration }}
              {{/is}}
            </ul>
            <a class="back-to-top" href="#top">
              Back to top
            </a>
            {{#is slug "js"}}
            <a href="#" class="bs-docs-theme-toggle" role="button">
              Preview theme
            </a>
            {{/is}}
          </nav>
        </div>
        {% endunless %}
      </div>
    </div>

    {{> footer }}
  </body>
</html>
